rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Registry Akun DKM untuk login dan sinkronisasi multi perangkat
    match /dkm_accounts/{email} {
      allow read, write: if true;
    }

    // Data Kas Masjid, Profil DKM, Transaksi, Unit Usaha & Sewa
    match /users/{userId} {
      allow read, write: if true;

      match /settings/{docId} {
        allow read, write: if true;
      }

      match /transactions/{trxId} {
        allow read, write: if true;
      }

      match /{allPaths=**} {
        allow read, write: if true;
      }
    }
  }
}


